<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false" packagingData="true">
	<!-- 项目名称 -->
	<contextName>permission</contextName>
	<!--  
	<property name="USER_HOME" value="/home/dazk/log/base" />-->
	<property name="USER_HOME" value="/tmp/log/permission" />

	<!-- ConsoleApperder意思是从console中打印出来 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 阈值过滤，就是log行为级别过滤，debug及debug以上的信息会被打印出来 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<encoder>
			<!-- pattern模式 %d时间 %thread 线程名 %level行为级别 %logger logger名称 %method 方法名称 %message 调用方法的入参消息 -->
			<pattern>%-4d [%thread] %-5level %logger.%method - %message%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 滚动日志文件 -->
	<appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<!-- 按天新建log日志 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/base-%d{yyyyMMdd}_%i.log</fileNamePattern>
			<!-- 保留30天的历史日志 -->
			<maxHistory>30</maxHistory>
			<!-- 基于大小和时间，这个可以有，可以没有 -->
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 当一个日志大小大于10KB，则换一个新的日志。日志名的%i从0开始，自动递增 -->
				<maxFileSize>1024MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<!-- %ex就是指抛出的异常，full是显示全部，如果在{}中写入数字，则表示展示多少行 -->
			<pattern>%-4d [%thread] %-5level %logger.%method - %msg%n%ex{full, DISPLAY_EX_EVAL}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="com.apache.ibatis" level="TRACE"/>
	
	<logger name="java.sql" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</logger>
	
	<!--  
	<logger name="java.sql.Statement" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</logger>
	<logger name="java.sql.PreparedStatement" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</logger>
	<logger name="java.sql.ResultSet" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</logger>-->
	

<!--
	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</logger>
  
	<logger name="org.apache.velocity" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</logger>

	<logger name="com.atomikos.jdbc.AtomikosConnectionProxy" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</logger>
	 
	<logger name="com.atomikos.datasource.xa.XAResourceTransaction" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</logger>-->
	
	<!-- <logger name="com.dazk.common.util.ConsoleUtils" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE"/>
	</logger>
	
	<logger name="com.dazk.common.util.upload.UploadUtils" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</logger> -->
	
	<!--
	<logger name="org.apache.commons" level="INFO" additivity="false" />
	<logger name="freemarker.cache" level="INFO" additivity="false" />
	<logger name="org.apache.jasper.compiler.TldLocationsCache" level="FINE" additivity="false" />-->

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLINGFILE" />
	</root>
</configuration>