<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fish.yu.dao.UserMapper">

	<!-- 用户表通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="fish.yu.entity.User">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="nickname" property="nickname" />
		<result column="pswd" property="password" />
		<result column="salt" property="salt" />
		<result column="email" property="email" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="last_login_time" property="lastLoginTime" />
	</resultMap>
	
	
	<resultMap id="UserAndRolesMap" type="fish.yu.entity.UserAndRoles">
			<!-- 主属性 -->
		<id column="id" property="id" />
		<!-- 普通属性 -->
		<result column="name" property="name" />
		<!-- 关系属性-->
		<collection property="roles"  ofType="fish.yu.entity.Role">
			<!-- 主属性 -->
			<id column="rid"  property="id"/>
			<!-- 普通属性 -->
			<result column="rname"  property="name"/>
			<result column="rtype"  property="type"/>
		</collection>
	</resultMap>
	
	
	<resultMap id="UserAndGroupsMap" type="fish.yu.entity.UserAndGroups">
			<!-- 主属性 -->
		<id column="id" property="id" />
		<!-- 普通属性 -->
		<result column="name" property="name" />
		<!-- 关系属性-->
		<collection property="groups"  ofType="fish.yu.entity.Group">
			<!-- 主属性 -->
			<id column="gid"  property="id"/>
			<!-- 普通属性 -->
			<result column="gname"  property="name"/>
			<result column="gtype"  property="type"/>
		</collection>
	</resultMap>
	
	
     <!-- 通过Id查询角色集合 -->
	<select  id="selectRolesByUserId"   resultMap="UserAndRolesMap"  >
		  select uur.id,uur.nickname ,tr.id as rid ,tr.name as rname,tr.type as rtype from 
  		      (select  tu.id,tu.nickname,ur.role_id,ur.user_id  from t_user tu left join t_user_role  ur on tu.id=ur.user_id)uur
   		      left  join  t_role tr on tr.id=uur.role_id  where  uur.id=#{id}  
	</select>
	
	
	<!-- 通过Ids查询角色集合-->
	<select  id="selectRolesByUserIds"   resultMap="UserAndRolesMap"  >
		  select uur.id,uur.nickname ,tr.id as rid ,tr.name as rname,tr.type as rtype from 
  		      (select  tu.id,tu.nickname,ur.role_id,ur.user_id  from t_user tu left join t_user_role  ur on tu.id=ur.user_id)uur
   		      left  join  t_role tr on tr.id=uur.role_id  where  uur.id in
   		      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
       			   #{item}  
   			  </foreach> 
	</select>
	
	
	
	   <!-- 通过Id查询分组集合 -->
	<select  id="selectGroupsByUserId"   resultMap="UserAndGroupsMap"  >
		  SELECT uug.id,uug.nickname ,tg.id AS gid ,tg.name AS gname,tg.type AS gtype FROM 
  		      (SELECT  tu.id,tu.nickname,ug.group_id,ug.user_id  FROM t_user tu LEFT JOIN t_user_group  ug ON tu.id=ug.user_id)uug
   		      LEFT  JOIN  t_group tg ON tg.id=uug.group_id where  uug.id=#{id}  
	</select>
	
	
	<!-- 通过Ids查询分组集合-->
	<select  id="selectGroupsByUserIds"   resultMap="UserAndGroupsMap"  >
		   SELECT uug.id,uug.nickname ,tg.id AS gid ,tg.name AS gname,tg.type AS gtype FROM 
  		      (SELECT  tu.id,tu.nickname,ug.group_id,ug.user_id  FROM t_user tu LEFT JOIN t_user_group  ug ON tu.id=ug.user_id)uug
   		      LEFT  JOIN  t_group tg ON tg.id=uug.group_id where  uug.id in
   		      <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
       			   #{item}  
   			  </foreach> 
	</select>

	
</mapper>
